.cache/

.vscode/


/build/
/out/
/bin/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/CMakeScripts/
/Testing/
/cmake_install.cmake
/install_manifest.txt
/cmake-3.22.1-linux-x86_64.sh

*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib
*.exe

*.log
*.tmp
*.swp
*.swo
*.swn

/SFML/build/
/SFML/lib/
/SFML/bin/
